* {
    user-select: none;
}

*:focus {
    outline: none;
}

.topToMiddle {
    width: 40rem;
    border: 1.5px solid black;
    border-color: black;
    padding: 0;
    border-radius: 3px;
    margin-top: 0.1rem;
    margin-bottom: 0.7rem;
}

.middleToBottom {
    width: 40rem;
    border: 1.5px solid black;
    border-color: black;
    padding: 0;
    border-radius: 3px;
    margin-top: 0.7em;
    margin-bottom: 0.9rem;
}

.autoToEndgame {
    height: 7.1rem;
    border: 1.5px solid black;
    border-color: black;
    padding: 0;
    border-radius: 3px;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.penaltiesToFouls {
    height: 7.75rem;
    border: 1.5px solid black;
    border-color: black;
    padding: 0;
    border-radius: 3px;
    margin-top: 0.4rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0077ff;
    border-radius: 7px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.topPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.topPart div {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.topPart ul {
    list-style-type: none;
    padding: 0;
    margin-left: 5px;
}

.topPart li {
    margin-bottom: 0.4rem;
}

.topPart select {
    height: 1.5rem;
    width: 6.5rem;
    margin-bottom: 0.05rem;
}

.middlePart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.middlePart div {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.middlePart ul {
    list-style-type: none;
    padding: 0;
    margin-left: 5px;
}

.middlePart li {
    margin-bottom: 0.2rem;
}

.middlePart input[type="checkbox"] {
    margin-right: 0.2rem;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 0.35rem;
}

.middlePart button {
    height: 1rem;
    width: 0.65rem;
    padding: 0;
}

.bottomPart {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottomPart div {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.bottomPart ul {
    list-style-type: none;
    padding: 0;
    margin-left: 5px;
    margin-bottom: 0;
}

.bottomPart li {
    margin-bottom: 0;
    padding-bottom: 0;
}

.bottomPart p {
    margin-top: 0;
}

.penalties {
    width: 13rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.penalties input[type="checkbox"] {
    height: 0.9rem;
    width: 0.9rem;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.fouls {
    width: 13rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
}

.fouls li {
    display: flex;
    flex-direction: row;
}

.fouls button {
    height: 0.8rem;
    width: 0.6rem;
    padding: 0;
}

.troughText {
    margin-top: 0;
    padding-top: 0;
    width: 2rem;
    text-align: end;
    overflow: hidden;
    font-size: 1.75rem;
}

.foulsText {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    width: 1rem;
    text-align: end;
    overflow: hidden;
    font-size: 1.2rem;
}

.descriptionText {
    margin-top: 0.4rem;
    padding-top: 0;
    width: 4.3rem;
    text-align: end;
    overflow: hidden;
}

.auto {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.endgame {
    display: flex;
    flex-direction: row;
    align-items: center;
}