:root {
    font-family: "Outfit", "Arial", "sans-serif";
    font-optical-sizing: auto;
    background-color: #fefefe;
}

.hr_vert {
    width: 1.5px;
    height: 100%;
    background: black;
    align-self: center;
}

.hr_horiz {
    width: 100%;
    height: 1.5px;
    background: black;
    align-self: center;
}

.scale {
    scale: 1.5;
}

body {
    margin: 0;
    padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

h2, h3, h4, h5, h6 {
    margin-bottom: 3px;
}

.flash-green {
    animation: flash-green 0.4s;
}

@keyframes flash-green {
    0% {
        background: #5cb85c;
    }
    100% {
        background: transparent;
    }
}

.flash-yellow {
    animation: flash-yellow 0.4s;
}

@keyframes flash-yellow {
    0% {
        background: #f0ad4e;
    }
    100% {
        background: transparent;
    }
}

.flash-red {
    animation: flash-red 0.4s;
}

@keyframes flash-red {
    0% {
        background: #d9534f;
    }
    100% {
        background: transparent;
    }
}

.copyright {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}